{%- liquid
  assign selected_variant = _product.selected_or_first_available_variant
-%}

{%- unless _product.has_only_default_variant -%}
  <variant-radios
    data-section="{{ section.id }}"
    data-url="{{ product.url }}"
    id="data-product-variants-{{ section.id }}"
    class="data-product-variants"
    data-product-variants

  >
    {%- if product.tags contains 'bundle' -%}
      <fieldset class="product-option-wrapper bundle">
        <legend class="form-label">
            <strong>{{- product.selected_or_first_available_variant.title }}</strong>
        </legend>
        <ul id="variant-list">
          {% for variant in product.variants -%}
            {%- liquid
              assign is_alt_purchase_block_active = false
              for block in _section.blocks
                if block.type == 'alt_purchase_option'
                  assign is_alt_purchase_block_active = true
                  break
                endif
              endfor

              assign is_hidden = false
              if is_alt_purchase_block_active and _alt_variant and _alt_variant.id == variant.id
                assign is_hidden = true
              endif

              assign variant_disabled = true
              if variant.available
                assign variant_disabled = false
              endif
            -%}
            <li {% if is_hidden %}hidden{% endif %}>
              {%- capture input_id -%}
                {{ section.id }}-{{ variant.id }}-{{ forloop.index0 -}}
              {%- endcapture -%}
              {%- capture input_name -%}
                {{- variant.title | handleize -}}
              {%- endcapture -%}
              {%- capture input_dataset -%}
                data-product-url="{{ variant.url }}"
                data-variant-id="{{ variant.id }}"
                data-option-value-id="{{ variant.id }}"
              {%- endcapture -%}
              {%- capture input_attributes -%}
                {% if variant == selected_variant %}
                  checked
                {% endif %}
                {% if variant_disabled == true %}
                  class="disabled"
                {% endif %}
              {% endcapture %}
              <input
                type="radio"
                name="{{- input_name -}}"
                id="{{- input_id -}}"
                value="{{- variant.title | escape -}}"
                form="{{- _product_form_id -}}"
                {{ input_attributes }}
                {{ input_dataset }}
              >
              <label
                for="{{- input_id -}}"
                {% if variant.image != blank %}
                  class="has-image"
                {% endif %}
              >
                {{
                  variant.image
                  | image_url: width: '200x'
                  | image_tag: class: 'image', loading: loading, alt: variant.image.alt
                }}
              </label>
            </li>
          {%- endfor -%}
        </ul>
      </fieldset>
    {%- else -%}








{% comment %} Tabs for each option value {% endcomment %}

sdfsdfsdf





<div class="variant-tabs" data-option-position="{{ option.position }}">
   {%- for option in _product.options_with_values -%}
   {%- liquid
    
      assign option_index = forloop.index0
  

     
    -%}
  {%- for value in option.values -%}
    {%- liquid
      assign option_disabled = true
    
      if value.available
        assign option_disabled = false
      endif

      assign is_alt_purchase_block_active = false
      for block in _section.blocks
        if block.type == 'alt_purchase_option'
          assign is_alt_purchase_block_active = true
          break
        endif
      endfor

      assign is_hidden = false
      if is_alt_purchase_block_active and _alt_variant and _alt_variant.id == value.variant.id
        assign is_hidden = true
      endif

      assign is_selected = false
      if selected_variant.options[option_index] == value
        assign is_selected = true
      endif
    -%}
    


    {% unless is_hidden %}
    <div class="cs-data">
    {% assign variant_image = value.variant.featured_media %}
     {% assign sub_object = value.variant.metafields.custom.subscription_info.value %}
     {% assign free_gift_title = value.variant.metafields.custom.free_gift_title.value %}



      <div class="variant-tab {% if is_selected %}active{% endif %} {% if option_disabled %}disabled{% endif %}
       {% if selected_variant.options[option_index] == value %}
                      active
                    {% endif %}
      " 
           data-option-value="{{ value | escape }}"
           data-option-position="{{ option.position }}">
             {% if variant_image %}
    <div class="variant-image-box">gg
    {% if sub_object.lozenge_text != blank %}
                            <div class="cs-mobile-lozenge-bar">{{ sub_object.lozenge_text }}</div>
                          {% endif %}
      <img 
        src="{{ variant_image | image_url: width: 200 }}" 
        alt="{{ value }}"
      >
    </div>
  {% endif %}

       <span>{{ value }}</span> 
            {% if free_gift_title != blank %}
        <span class="cs-banner-text">                      
                  {{ free_gift_title }}
                     </span>
                       {% endif %}
      </div>
      </div>
    {% endunless %}
  {%- endfor -%}
    {%- endfor -%}
</div>





      {%- for option in _product.options_with_values -%}
      
        {%- if option.values.size > 1 -%}
          {% assign downcase_option_name = option.name | downcase %}
          <fieldset>
            {% liquid
              assign sub_option = false
              assign option_index = forloop.index0

              for option_value in option.values
                if option_value.variant.selling_plan_allocations.size > 0
                  assign sub_option = true
                  break
                endif
              endfor
            %}
            <div class="product-option-wrapper {% if sub_option %}subscription{% endif %}" {% if sub_option %}data-sub-option{% endif %}>
              <legend class="form-label">
                {% if sub_option %}
                  {{- 'products.product.choose_an_option' | t -}}
                {% else %}
                  {{- option.name }}: <strong>{{- option.selected_value -}}</strong>
                {% endif %}
              </legend>
              <ul id="variant-list">
                {%- for value in option.values -%}
                  {%- liquid
                    assign option_disabled = true
                    if value.available
                      assign option_disabled = false
                    endif

                    assign is_alt_purchase_block_active = false
                    for block in _section.blocks
                      if block.type == 'alt_purchase_option'
                        assign is_alt_purchase_block_active = true
                        break
                      endif
                    endfor

                    assign is_hidden = false
                    if is_alt_purchase_block_active and _alt_variant and _alt_variant.id == value.variant.id
                      assign is_hidden = true
                    endif
                  -%}
                  {%- capture input_id -%}
                    {{ section.id }}-{{ option.position }}-{{ forloop.index0 -}}
                  {%- endcapture -%}
                  {%- capture input_name -%}
                    {{ option.name }}-{{ option.position }}
                  {%- endcapture -%}
                  {%- capture input_dataset -%}
                    data-product-url="{{ value.product_url }}"
                    data-variant-id="{{ value.variant.id }}"
                    data-option-value-id="{{ value.id }}"
                  {%- endcapture -%}
                  {%- capture input_attributes -%}
                    {% if selected_variant.options[option_index] == value %}
                      checked
                    {% endif %}
                    {% if option_disabled == true %}
                      class="disabled"
                    {% endif %}
                  {% endcapture %}
                  <li {% if is_hidden %}hidden{% endif %}>
                    <input
                      type="radio"
                      name="{{- input_name -}}"
                      id="{{- input_id -}}"
                      value="{{- value | escape -}}"
                      form="{{- _product_form_id -}}"
                      {{ input_attributes }}
                      {{ input_dataset }}
                    >

                      <label
                        for="{{- input_id -}}"
                        {% if value.variant.image != blank %}
                          class="has-image"
                        {% endif %}
                      >
                        {% if sub_option %}
                          {% assign sub_object = value.variant.metafields.custom.subscription_info.value %}
                          {% assign free_gift_title = value.variant.metafields.custom.free_gift_title.value %}
                          {% assign free_gift = value.variant.metafields.custom.free_gift.value %}

                          {% if sub_object.lozenge_text != blank %}
                            <div class="mobile-lozenge-bar">{{ sub_object.lozenge_text }}</div>
                          {% endif %}

                          <div class="label__content">
                            <div class="option-header">
                              <div class="option-selector-title">
                                <div class="checked-icon"></div>
                                <span class="option-title">{{ value }}</span>
                              </div>

                              {% if sub_object.lozenge_text != blank %}
                                <span class="lozenge">{{ sub_object.lozenge_text }}</span>
                              {% endif %}
                              {%- unless value.variant.compare_at_price == value.variant.price -%}
                                {% if value.variant.compare_at_price != blank and value.variant.compare_at_price != value.variant.price %}
                                  <div class="option-saving">
                                    {% liquid
                                      assign saving_ratio = value.variant.price | times: 100.0 | divided_by: value.variant.compare_at_price | round
                                      assign saving_percentage = 100 | minus: saving_ratio
                                    %}
                                    <span>
                                      {{- 'products.product.save' | t }}
                                      {{ saving_percentage }}%
                                    </span>
                                  </div>
                                {% endif %}
                              {%- endunless -%}
                              <div class="prices">
                                <span class="current">
                                  {{- value.variant.price | money }}
                                </span>
                                {%- unless value.variant.compare_at_price == value.variant.price -%}
                                  {% if value.variant.compare_at_price != blank %}
                                    <span class="was">
                                      {{- value.variant.compare_at_price | money }}
                                    </span>
                                  {% endif %}
                                {%- endunless -%}
                              </div>
                            </div>
                            {% if sub_object.trust_points.value != blank %}
                              <ul class="option-trust-points">
                                {% for trust_point in sub_object.trust_points.value %}
                                  <li>
                                    {{
                                      trust_point.icon
                                      | image_url: width: 80
                                      | image_tag: class: 'icon', loading: 'lazy'
                                    }}
                                    <span>{{ trust_point.text }}</span>
                                  </li>
                                {% endfor %}
                              </ul>
                              {% if free_gift != blank %}
                                <div class="banner">
                                  <span class="banner-text">
                                    {% if free_gift_title != blank %}
                                      {{ free_gift_title }}
                                    {% else %}
                                      Free gift worth {{ free_gift.price | money }}
                                    {% endif %}
                                  </span>
                                </div>
                                <div class="free-gift-wrapper" data-free-gift-id="{{ free_gift.selected_or_first_available_variant.id }}">
                                  <div class="free-gift">
                                    {{-
                                      free_gift.featured_image
                                      | image_url: width: 600
                                      | image_tag: widths: '320, 400, 500, 600', alt: free_gift.featured_image.alt, loading: 'lazy', class: 'featured-img'
                                    -}}
                                    <div class="free-gift-info">
                                      {{ free_gift.title }}
                                      <div class="free-gift-pricing">
                                        <span class="free-gift-free">Free</span>
                                        <span class="free-gift-price">
                                          Worth {{ free_gift.price | money }}
                                        </span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              {% endif %}
                            {% endif %}
                          </div> {% comment %} End of .label__content wrapper {% endcomment %}
                        {% else %}
                          {% if value.variant.image != blank %}
                            {{
                              value.variant.image
                              | image_url: width: '200x'
                              | image_tag: class: 'image', loading: loading, alt: value.variant.image.alt
                            }}
                          {% else %}
                            <span>{{ value }}</span>
                          {% endif %}
                        {% endif %}
                      </label>
                  </li>
                {%- endfor -%}
              </ul>
            </div>
          </fieldset>
        {%- endif -%}
      {%- endfor -%}
    {%- endif -%}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script>
(function($) {
  // Initialize tabs on page load
  function initializeTabs() {
    $('.variant-tabs').each(function() {
      var $tabsContainer = $(this);
      var optionPosition = $tabsContainer.data('option-position');
      
      // Find the checked radio input for this option
      var $checkedRadio = $('input[type="radio"][name*="-'+optionPosition+'"]:checked');
      if ($checkedRadio.length) {
        var selectedValue = $checkedRadio.val();
        
        // Activate the corresponding tab
        $tabsContainer.find('.variant-tab').removeClass('active');
        $tabsContainer.find('.variant-tab[data-option-value="'+selectedValue+'"]').addClass('active');
      }
    });
  }

  // Tab click handler
  $(document).on('click', '.variant-tab:not(.disabled)', function() {
    var $tab = $(this);
    var optionPosition = $tab.data('option-position');
    var optionValue = $tab.data('option-value');
    
    // Update tabs
    $('.variant-tabs[data-option-position="'+optionPosition+'"] .variant-tab').removeClass('active');
    $tab.addClass('active');
    
    // Find and click the corresponding radio input
    var $radioInput = $('input[type="radio"][name*="-'+optionPosition+'"][value="'+optionValue+'"]');
    if ($radioInput.length && !$radioInput.hasClass('disabled')) {
      $radioInput[0].click(); // Trigger actual click on the radio input
    }
  });

  // Sync tabs when radio inputs change
  $(document).on('change', 'input[type="radio"][name*="-"]', function() {
    var optionName = $(this).attr('name');
    var optionPosition = optionName.split('-').pop();
    var optionValue = $(this).val();
    
    // Update corresponding tabs
    $('.variant-tabs[data-option-position="'+optionPosition+'"] .variant-tab').removeClass('active');
    $('.variant-tabs[data-option-position="'+optionPosition+'"] .variant-tab[data-option-value="'+optionValue+'"]').addClass('active');
  });

  // Initialize on page load
  $(document).ready(function() {
    initializeTabs();
  });

})(jQuery);
</script>


<style>
.variant-tabs {
  display: flex;
  gap: 8px;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

.variant-tab {
  padding: 10px 16px;
  border: 1px solid #ddd;
  background: #f8f8f8;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.2s ease;
  font-size: 14px;
}

.variant-tab.active {
  background: #000;
  color: #fff;
  border-color: #000;
}

.variant-tab:hover:not(.disabled) {
  background: #e8e8e8;
}

.variant-tab.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  text-decoration: line-through;
}
</style>


    <script type="application/json" data-product-json-{{ section.id }}>
      {{ _product | json }}
    </script>
  </variant-radios>
  <script type="application/json" data-selected-variant>
    {{ _product.selected_or_first_available_variant | json }}
  </script>
{%- endunless -%}



<style>
.subscription-tabs {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
  overflow: visible;
}
.tab-lozenge {
  position: absolute;
  top: -10px;
  left: 0px;
  right: 0px;
  width: fit-content;
  margin: 0 auto;
  background: #a06864;
  color: white;
  text-transform: uppercase;
  padding: 2px 5px;
  border-radius: 5px;
  font-size: 12px;
}
.subscription-tab {
  border: 1px solid #E2DEDB;
  border-radius: 6px;
  padding: 25px 20px;
  text-align: center;
  cursor: pointer;
  min-width: 150px;
  position: relative;
}
.subscription-details .free-gift-section {
    background: transparent;
    padding: 0px;
    border-radius: 0px;
}
.subscription-details .free-gift-section .free-gift-title {
    font-weight: 400;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0;
    color: #7A7A7A;
    margin-bottom: 2px;
}
ul.benefits {
    margin-bottom: 20px;
}
.subscription-tab.active {
  border-color: #343436;
  box-shadow: 0 0 0 1px #343436 inset;
  background: white;
}
.subscription-details-wrapper{
    background: white;
    padding: 20px;
    border-radius: 10px;
}
.free-gift-badge {
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  background: #FFFFFF;
  padding: 2px 8px;
  border-radius: 4px;
  font-size: 12px;
  color: #A06864;
}
.subscription-tab.active .free-gift-badge {
  background: #FAF4F4;
}

.subscription-details {
  display: none;
}

.subscription-details.active {
  display: block;
}

.subscription-tabs .tab-title {
    margin-top: 10px;
}
.subscription-details .subscription_price_heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 14px;
    padding-bottom: 14px;
    border-bottom: 1px solid #F3EFEC;
}
.subscription-details .subscription_price_heading .price-box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 200px;
}
.subscription-details .subscription_price_heading .price-box span.saving-tag {
    grid-row: span 2;
    margin-left: auto;
    margin-right: 14px;
    background: #FAF4F4;
    padding: 5px 5px;
    font-weight: 500;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0;
    text-transform: uppercase;
    color: #A06864;
    border-radius: 4px;
}
.subscription-details .subscription_price_heading .price-box span.price {
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
    margin-bottom: 5px;
    margin-left: auto;
}
.subscription-details .subscription_price_heading .price-box  span.compare {
    text-align: right;
    font-weight: 500;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0;
    color: #828282;
    margin-left: auto;
    display: block;
    width: 100%;
}
.subscription-details .benefits {
    padding-left: 0;
}
.subscription-details .benefits {
    padding-left: 0;
    list-style: none;
}
.subscription-details .benefits li {
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0;
    color: #343436;
    margin-top: 8px;
    display: grid;
    align-items: center;
    gap: 8px;
    grid-template-columns: 14px 1fr;
}
.subscription-details .benefits li svg {
    width: 100%;
    height: auto;
}

/* Best Seller Css Start */
.c-lozenges .c-lozenge.we-peep {
    background: #FFFFFF;
    border-radius: 5px;
    color: #A06864;
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0;
    text-transform: uppercase;
    border: 0;
}
.c-lozenges li.c-lozenge.tuna {
    background-color: #E8CFCD38;
    border-radius: 5px;
    color: #A06864;
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0;
    text-transform: uppercase;
    border: 0;
}
.snippet-layout-product-form .product-title {
    font-weight: 500;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0;
    color: #343436;
}
/* Best Seller Css End */

/* Free Gift Section Css */
.subscription-details .free-gift {
    background: #a0686429;
    padding: 8px;
    border-radius: 6px;
    display: grid;
    grid-template-columns: 80px 1fr;
    gap: 14px;
    align-items: center;
}
.subscription-details .free-gift img {
    width: 100%;
}
.subscription-details .free-gift .free-gift-info strong {
    display: block;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
    margin-bottom: 5px;
    color: #343436;
}
.subscription-details .free-gift .free-gift-info .free-gift-pricing {
    display: flex;
    gap: 5px;
    margin-top: 10px;
    flex-wrap: wrap;
    align-items: center;
}
.subscription-details .free-gift .free-gift-info .free-gift-pricing .free-gift-free {
    display: inline-block;
    background-color: #A06864;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0;
    text-transform: uppercase;
    color: #F8F4F2;
    padding: 4px 6px;
    border-radius: 4px;
    order: 1;
}
.subscription-details .free-gift .free-gift-info .free-gift-pricing .free-gift-price {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0;
    color: #828282;
    display: inline-block;
}
.subscription-details .free-gift .free-gift-info .free-gift-pricing .free-gift-price .money {
    color: #343436;
    font-weight: 600;
    font-size: 15px;
}
/* Free Gift Section Css End */
</style>