{%- if block.settings.image != blank -%}
  <div class=" block-{{ block.id }} block-badge {% if block.settings.image_position == "right" %}image-position {% endif %}">
    {{- block.settings.text -}}
    {{-
      block.settings.image
      | image_url: width: 240
      | image_tag: alt: block.settings.image.alt, loading: 'lazy', fetchpriority: 'auto'
    -}}
  </div>
{%- endif -%}

{%- style -%}
  @media(min-width: 768px) {
    .block-{{ block.id }}.image-position {
      position: absolute;
      top: 20%;
      right: 0;
    } 

     .block-{{ block.id }}.image-position img {
      max-width: 118px;
     }
  }
  @media(max-width: 767px) {
    .block-{{ block.id }}.image-position {
      position: absolute;
      bottom: 26px;
      left: 26px;
    } 
     .block-{{ block.id }}.image-position img {
      max-width: 118px;
     }
  }
{%- endstyle -%}
{% schema %}
{
  "name": "t:blocks.badge.name",
  "tag": null,
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "t:sections.all.text.label"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.all.image.label",
      "info": "t:blocks.badge.settings.image.info"
    },
    {
      "type": "select",
      "id": "image_position",
      "label": "Image position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
  ],
  "presets": [{ "name": "t:blocks.badge.name" }]
}
{% endschema %}
