<div class="block-group-kickers {% if block.settings.full_width == false%}wrap-kickers{% else %}full-width {% endif %}"
  id="shopify-block-{{- block.id -}}" {{ block.shopify_attributes }} id="shopify-block-{{- block.id -}}">
  {% content_for 'blocks' %}
</div>

  <style>
    #shopify-block-{{- block.id -}} {
      margin-bottom: {{ block.settings.margin_bottom | divided_by: 16.0 | round: 3 | remove: '.0' -}}rem;
    }
  </style>

{% schema %}
{
  "name": "t:blocks.group_kickers.name",
  "tag": null,
  "settings": [
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 40,
      "step": 1,
      "default": 0,
      "label": "t:sections.all.spacing.margin_bottom.label"
    },
    {
        "type": "checkbox",
        "id": "full_width",
        "label": "Full width",
        "default": false
    }
  ],
  "blocks": [{ "type": "kicker" }],
  "presets": [{ "name": "t:blocks.group_kickers.name" }]
}
{% endschema %}
