<{{ block.settings.heading_type }} class="u-heading-{{- block.settings.heading_size }} block-strapline" id="shopify-block-{{- block.id -}}">
  {{- block.settings.text | remove: '<div class="metafield-rich_text_field">' | remove: '</div>' | remove: '<p>' | remove: '</p>' -}}
</{{ block.settings.heading_type }}>

{%- if block.settings.margin_bottom > 0 -%}
  <style>
    #shopify-block-{{- block.id -}} {
      margin-bottom: {{ block.settings.margin_bottom | divided_by: 16.0 | round: 3 -}}rem;
      }
  </style>
{%- endif -%}

{%- if block.settings.text_align != 'start' -%}
  <style>
    #shopify-block-{{- block.id -}} {
        text-align: {{ block.settings.text_align }};
      {%- if block.settings.text_align == 'center' -%}
        margin-inline: auto;
      {%- endif -%}
      {%- if block.settings.text_align == 'end' -%}
        margin-left: auto;
      {%- endif -%}
    }
  </style>
{%- endif -%}

{% schema %}
{
  "name": "t:blocks.strapline.name",
  "tag": null,
  "settings": [
    {
      "type": "richtext",
      "id": "text",
      "label": "t:sections.all.text.label"
    },
    {
      "type": "select",
      "id": "heading_type",
      "label": "t:sections.all.heading_type.label",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        }
      ],
      "default": "h2"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "t:sections.all.heading_size.label",
      "options": [
        {
          "value": "xs",
          "label": "t:sections.all.heading_size.options.extra_small.label"
        },
        {
          "value": "sm",
          "label": "t:sections.all.heading_size.options.small.label"
        },
        {
          "value": "md",
          "label": "t:sections.all.heading_size.options.medium.label"
        },
        {
          "value": "lg",
          "label": "t:sections.all.heading_size.options.large.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.heading_size.options.extra_large.label"
        }
      ],
      "default": "lg"
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "t:sections.all.text_align.label",
      "options": [
        {
          "value": "start",
          "label": "t:sections.all.justify_content.options.left.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.justify_content.options.centre.label"
        },
        {
          "value": "end",
          "label": "t:sections.all.justify_content.options.right.label"
        }
      ],
      "default": "start"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 40,
      "step": 1,
      "default": 16,
      "label": "t:sections.all.margin_bottom.label"
    }
  ],
  "presets": [{ "name": "t:blocks.strapline.name" }]
}
{% endschema %}
