{%- liquid
  assign template_name = 'compare-table-section'
  assign section_bg = section.settings.section_bg
  assign advance_tab_color = section.settings.advance_tab_color
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign mb_padding_top = section.settings.mb_padding_top
  assign mb_padding_bottom = section.settings.mb_padding_bottom
%}

{%- render 'file-css', _name: 'section-table-compare.css', _load_type: 'defer' -%}

{%- style -%}
  .section-{{ section.id }} {
    padding-top: {{ padding_top }}px;
    padding-bottom: {{ padding_bottom }}px;
    background-color: {{ section_bg }};
  }
  .section-{{ section.id }} .pt__option__item.recommend{
    background: {{ advance_tab_color }};
  }
  .section-{{ section.id }} .compare-header {
    text-align:{{ section.settings.text_align }};
  }
  .section-{{ section.id }} .compare-header .top_content {
    align-items: {{ section.settings.text_align }};
  }

  @media screen and (max-width: 750px) {
    .section-{{ section.id }} {
      padding-top: {{ mb_padding_top }}px;
      padding-bottom: {{ mb_padding_bottom }}px;
    }
  }

{%- endstyle -%}


<section class="{{- template_name }} section-{{ section.id }} {{ section.settings.table_position }} compare-{{ section.settings.table_style }}"  data-section-type="section-compare-text" data-section-id="template--{{ section.id }}">
  <div class="container">
    
    <!-- Left Column -->
    <div class="compare-header">
      <div class="top_content">
        <span class="small_tag" >
          {{ section.settings.small_heading }}
        </span>
        <h2>
          {{ section.settings.main_heading }}
        </h2>
        <p class="sub_text">
          {{ section.settings.subtext }}
        </p>
      </div>
      <div class="bottom_content">
        {% if section.settings.button_label != blank %}
          <a href="{{ section.settings.button_link }}" class="compare-btn">
            {{ section.settings.button_label }}
          </a>
        {% endif %}
      </div>
    </div>

    <!-- Table Layout -->
    <div class="compare-list {{ section.settings.table_style }} ">
        <div class="pricing__table">
            <div class="pt__title">
                <div class="pt__title__wrap">
                <div class="pt__row"></div>
                {% for row in section.blocks %}
                    <div class="pt__row">
                    {{ row.settings.row_label }}
                    <span>{{ row.settings.row_sub_title }}</span>
                    </div>
                {% endfor %}
                </div>
            </div>
            <div class="pt__option">
                <div class="pt__option__slider swiper" id="pricingTableSlider">
                <div class="pt__option_wrapper">
                    <div class=" pt__option__item {% if section.settings.col1_advanced %}recommend{% endif %}">
                    <div class="pt__item">
                        <div class="pt__item__wrap">
                        <div class="pt__row pt__heading">{{ section.settings.col1 }}</div>
                        {% for row in section.blocks %}
                            <div class="pt__row">
                              {% if row.settings.col1check %} 
                                  {{- 'true.svg' | inline_asset_content -}}
                              {% else %} 
                                  {% if section.settings.table_style == 'style-2' %}
                                    <span>No</span>
                                  {% else %}
                                    {{- 'false.svg' | inline_asset_content -}}
                                  {% endif %} 
                              {% endif %}
                            </div>
                        {% endfor %}
                        {% if section.settings.col1_advanced %}<div class="pt__row"></div>{% endif %}
                        </div>
                        
                    </div>
                    </div>
                    <div class=" pt__option__item">
                    <div class="pt__item {% if section.settings.col2_advanced %}recommend{% endif %}">
                        <div class="pt__item__wrap">
                        <div class="pt__row pt__heading">{{ section.settings.col2 }}</div>
                        {% for row in section.blocks %}
                            <div class="pt__row">
                              {% if row.settings.col2check %} 
                                  {{- 'true.svg' | inline_asset_content -}}
                              {% else %} 
                                  {% if section.settings.table_style == 'style-2' %}
                                    <span>No</span>
                                  {% else %}
                                    {{- 'false.svg' | inline_asset_content -}}
                                  {% endif %} 
                              {% endif %}
                            </div>
                        {% endfor %}
                        {% if section.settings.col2_advanced %}<div class="pt__row"></div>{% endif %}
                        </div>
                    </div>
                    </div>
                    <div class=" pt__option__item">
                    <div class="pt__item {% if section.settings.col3_advanced %}recommend{% endif %}">
                        <div class="pt__item__wrap">
                        <div class="pt__row pt__heading">{{ section.settings.col3 }}</div>
                        {% for row in section.blocks %}
                          <div class="pt__row">
                            {% if row.settings.col3check %} 
                                {{- 'true.svg' | inline_asset_content -}}
                            {% else %} 
                                {% if section.settings.table_style == 'style-2' %}
                                    <span>No</span>
                                  {% else %}
                                    {{- 'false.svg' | inline_asset_content -}}
                                  {% endif %} 
                            {% endif %}
                          </div>
                        {% endfor %}
                        {% if section.settings.col3_advanced %}<div class="pt__row"></div>{% endif %}
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    
    {% if section.settings.button_label != blank  %}
      <a href="{{ section.settings.btn_position }}" class="compare-btn botom_btn">
        {{ section.settings.button_label }}
      </a>
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "Comparison Table Section",
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "small_heading",
      "label": "Small Heading",
      "default": "Our Products"
    },
    {
      "type": "textarea",
      "id": "main_heading",
      "label": "Main Heading",
      "default": "<i>Find</i> your formula."
    },
    {
      "type": "textarea",
      "id": "subtext",
      "label": "Subheading / Description",
      "default": "One Formula That Replaces Your Entire Supplement Shelf with 22 premium ingredients."
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label",
      "default": "Shop Advanced+ Hair Formula"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "text",
      "id": "col1",
      "label": "Column 1 Title",
      "default": "Advanced+ Hair Formula"
    },
    { "type": "checkbox", "id": "col1_advanced", "label": "Column 1 is Advanced?", "default": true },
    {
      "type": "text",
      "id": "col2",
      "label": "Column 2 Title",
      "default": "Chewable Hair Vitamins"
    },
    { "type": "checkbox", "id": "col2_advanced", "label": "Column 2 is Advanced?" },
    {
      "type": "text",
      "id": "col3",
      "label": "Column 3 Title",
      "default": "Healthy Hair Vitamins"
    },
    { "type": "checkbox", "id": "col3_advanced", "label": "Column 3 is Advanced?" },
    {
      "type": "header",
      "content": "Style Settings"
    },
    {
      "type": "select",
      "id": "table_style",
      "label": "Choose Style",
      "default": "style-1",
      "options": [
        { "value": "style-1", "label": "Style 1" },
        { "value": "style-2", "label": "Style 2" }
      ]
    },
    {
      "type": "select",
      "id": "table_position",
      "label": "Table Position",
      "default": "right",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "right", "label": "Right" },
        { "value": "center", "label": "center" }
      ]
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "Text Alignment",
      "default": "left",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "right", "label": "Right" }
      ]
    },
    
    {
      "type": "color",
      "id": "section_bg",
      "label": "Section Background Color",
      "default": "#F3EFEC"
    },
    {
      "type": "color",
      "id": "advance_tab_color",
      "label": "Advance tab Color",
      "default": "#F1DFDC"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Desktop padding top",
      "default": 80
    }, {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Desktop padding bottom",
      "default": 80
    },
    {
      "type": "range",
      "id": "mb_padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Mobile padding top",
      "default": 36
    }, {
      "type": "range",
      "id": "mb_padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Mobile padding bottom",
      "default": 36
    }
  ],
  
  "blocks": [
    {
      "type": "row",
      "name": "Table Row",
      "settings": [
        {
          "type": "text",
          "id": "row_label",
          "label": "Row Label",
          "default": "Inflammation"
        },
        {
          "type": "text",
          "id": "row_sub_title",
          "label": "Row Sub Title",
          "default": "healthier scalp"
        },
        {
          "type": "checkbox",
          "id": "col1check",
          "label": "Column 1 Check"
        },
        {
          "type": "checkbox",
          "id": "col2check",
          "label": "Column 2 Check"
        },
        {
          "type": "checkbox",
          "id": "col3check",
          "label": "Column 3 Check"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Comparison Table",
      "blocks": [
        { "type": "row", "settings": { "row_label": "Inflammation", "row_sub_title": "healthier scalp", "col1check": true, "col2check": false, "col3check": false }},
        { "type": "row", "settings": { "row_label": "Stress", "row_sub_title": "stress response", "col1check": true, "col2check": false, "col3check": false }},
        { "type": "row", "settings": { "row_label": "Hormones", "row_sub_title": "reducing shedding", "col1check": true, "col2check": false, "col3check": false }},
        { "type": "row", "settings": { "row_label": "Ageing", "row_sub_title": "nourishing follicles", "col1check": true, "col2check": false, "col3check": false }},
        { "type": "row", "settings": { "row_label": "Nutrition", "row_sub_title": "essential vitamins", "col1check": true, "col2check": true, "col3check": true }},
        { "type": "row", "settings": { "row_label": "Metabolism", "row_sub_title": "nutrient uptake", "col1check": true, "col2check": true, "col3check": true }},
        { "type": "row", "settings": { "row_label": "Key Ingredients", "row_sub_title": "A powerful blend", "col1check": true, "col2check": false, "col3check": false }}
      ]
    }
  ]
}
{% endschema %}