{% liquid
  assign template_name = 'section-featured-testimonials'

  assign margin_bottom = section.settings.margin_bottom

  assign default_before_text = 'sections.featured_testimonials.before' | t
  assign use_statistics = false

  if request.page_type == 'product'
    assign featured_testimonials = product.metafields.custom.featured_testimonials.value
    assign heading = featured_testimonials.heading
    assign text = featured_testimonials.text
    assign entries = featured_testimonials.testimonials.value
  elsif request.page_type == 'collection'
    assign featured_testimonials = collection.metafields.custom.featured_testimonials.value
    assign heading = featured_testimonials.heading
    assign text = featured_testimonials.text
    assign entries = featured_testimonials.testimonials.value
  else
    assign entries = section.settings.featured_testimonial
    assign statistics = entries | map: 'statistic_key_highlight'
    if statistics.size > 0
      assign use_statistics = true
    endif
  endif

  assign media_default_size = 1024
  assign media_widths = '400, 600, 800'

  assign use_stacked_slides = section.settings.use_stacked_slides
  assign use_thumbnails = section.settings.use_thumbnails

  if use_stacked_slides == true
    assign use_thumbnails = false
  endif

  render 'file-css', _name: 'section-featured-testimonials.css', _load_type: 'defer'
  render 'file-css', _name: 'snippet-card-product-alt.css', _load_type: 'defer'
  render 'file-js', _name: 'section-featured-testimonials.js', _load_type: 'defer'

  if entries == null
    break
  endif
%}

{%- if request.page_type == 'product' or request.page_type == 'collection' -%}
  <style>
    div[data-section-id='{{ section.id }}'] {
      .section-header {
        text-align: center;
        align-items: center;
        margin-inline: auto;
      }
    }
  </style>
{%- endif -%}

{%- if use_stacked_slides == true -%}
  <style>
    #wrapper div[data-section-id="{{ section.id }}"] .js-stack-slides .swiper-slide {
      background: #fff;
      padding: 12px;
      border-radius: 13px;
    }
    @media (min-width: 1024px) and (max-width: 1279.98px) {
      #wrapper div[data-section-id="{{ section.id }}"] .container {
        max-width: 100%;
      }
    }

    @media (min-width: 1280px) {
      #wrapper div[data-section-id="{{ section.id }}"] .js-stack-slides .swiper-slide {
        grid-template-columns: 100%;
        gap: 2rem;
      }

      #wrapper div[data-section-id="{{ section.id }}"] .js-stack-slides .swiper-slide .slide-images {
        grid-row: 1;
      }

      #wrapper div[data-section-id="{{ section.id }}"] .js-stack-slides .swiper-slide .slide-content {
        padding: 0 13px;
      }
    }
  </style>
{%- endif -%}

<div
  class="{{- template_name }} u-space-below-{{- margin_bottom }}"
  data-section-type="{{- template_name -}}"
  data-section-id="{{ section.id }}"
>
  <div class="container">
    <featured-testimonials class="wrapper">
      {% if request.page_type == 'product' or request.page_type == 'collection' %}
        {%- if heading != blank -%}
          <div class="section-header">
            <h2 class="u-heading-lg heading centre">
              {{-
                heading
                | metafield_tag
                | remove: '<div class="metafield-rich_text_field">'
                | remove: '</div>'
                | remove: '<p>'
                | remove: '</p>'
              -}}
            </h2>
            {% if text != blank %}
              {{ text | metafield_tag }}
            {% endif %}
          </div>
          <hr>
        {%- endif -%}
      {%- else -%}
        <div class="section-header">
          {% content_for 'blocks' %}
        </div>
      {%- endif -%}
      <div class="swiper-containers">
        {%- if use_thumbnails == true -%}
          <div class="swiper" data-ft-slider-thumbnails>
            <div class="swiper-wrapper">
              {% for entry in entries %}
                <div class="swiper-slide">
                  {{ entry.image_after | image_url: width: 80 | image_tag: class: 'thumbnail-image', loading: 'lazy' }}
                </div>
              {% endfor %}
            </div>
          </div>
        {%- endif -%}
        <div class="swiper {% if use_stacked_slides == true %}js-stack-slides{% endif %}" data-ft-swiper>
          <div class="swiper-wrapper">
            {% for entry in entries %}
              <div class="swiper-slide">
                <div class="slide-content">
                  <div class="testimonial-content">
                    <blockquote>
                      {{
                        entry.text
                        | metafield_tag
                        | remove: '<div class="metafield-rich_text_field">'
                        | remove: '</div>'
                      }}                      
                    </blockquote>
                    <p class="name">{{ entry.name }}{% if entry.age != blank %}, {{ entry.age }}{% endif %}</p>
                  </div>
                  <ul class="c-lozenges">
                    {% for highlight in entry.highlights.value %}
                      <li class="c-lozenge we-peep border xl">
                        {% comment %} {%- render 'element-icon', _icon: 'check' -%} {% endcomment %}
                        {{ highlight }}
                      </li>
                    {% endfor %}
                  </ul>
                  {%- if request.page_type != 'product' or request.page_type == 'collection' -%}
                    {%- if _product != blank -%}
                    <div class="product">
                      <span>
                        {{- entry.name }}
                        {{ 'sections.featured_testimonials.uses' | t -}}
                        :</span
                      >
                      {%- render 'card-product-alt', _product: entry.product.value -%}
                    </div>
                    {%- endif -%}
                  {%- endif -%}
                </div>
                <div class="slide-images">
                  <div class="before">
                    <span class="c-lozenge light-peep"> {{ entry.caption_before | default: default_before_text }}</span>
                    {{
                      entry.image_before
                      | image_url: width: media_default_size
                      | image_tag: widths: media_widths, class: 'image', loading: 'lazy'
                    }}
                  </div>
                  <div class="after">
                    <span class="c-lozenge light-peep">{{ entry.caption_after }}</span>
                    {{
                      entry.image_after
                      | image_url: width: media_default_size
                      | image_tag: widths: media_widths, class: 'image', loading: 'lazy'
                    }}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="swiper-controls">
            <div class="swiper-pagination" data-ft-swiper-pagination></div>
            <div class="swiper-navigation">
              <button class="swiper-button-prev" aria-label="{{- 'components.swiper.previous' | t -}}" data-ft-swiper-prev>
                {%- render 'element-icon', _icon: 'slider-arrow-left' -%}
              </button>
              <button class="swiper-button-next" aria-label="{{- 'components.swiper.next' | t -}}" data-ft-swiper-next>
                {%- render 'element-icon', _icon: 'slider-arrow-right' -%}
              </button>
            </div>
          </div>
        </div>
        {%- if use_statistics == true and use_stacked_slides != true -%}
          <div class="swiper statistics" data-ft-slider-statistics>
            <div class="swiper-wrapper">
              {% for entry in entries %}
                <div class="swiper-slide">
                  <div>
                    <span class="u-heading-md highlight">{{- entry.statistic_key_highlight -}}</span>
                    {{-
                      entry.statistic_text
                      | metafield_tag
                      | remove: '<div class="metafield-rich_text_field">'
                      | remove: '</div>'
                    -}}
                  </div>
                  <small>
                    {{-
                      entry.statistic_reference
                      | metafield_text
                      | remove: '<div class="metafield-rich_text_field">'
                      | remove: '</div>'
                    -}}
                  </small>
                </div>
              {%- endfor -%}
            </div>
          </div>
        {%- endif -%}
      </div>
    </featured-testimonials>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.featured_testimonials.name",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.header_content.content"
    },
    {
      "type": "metaobject_list",
      "id": "featured_testimonial",
      "label": "t:sections.featured_testimonials.settings.featured_testimonial.label",
      "metaobject_type": "featured_testimonial",
      "limit": 12
    },
    {
      "type": "header",
      "content": "t:sections.all.header_settings.content"
    },
    {
      "type": "checkbox",
      "id": "use_stacked_slides",
      "label": "t:sections.featured_testimonials.settings.use_stacked_slides.label",
      "info": "t:sections.featured_testimonials.settings.use_stacked_slides.info",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "use_thumbnails",
      "label": "t:sections.featured_testimonials.settings.use_thumbnails.label",
      "default": true
    },
    {
      "type": "select",
      "id": "margin_bottom",
      "label": "t:sections.all.spacing.margin_bottom.label",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.spacing.option_none.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.spacing.option_extra_small.label"
        },
        {
          "value": "sm",
          "label": "t:sections.all.spacing.option_small.label"
        },
        {
          "value": "md",
          "label": "t:sections.all.spacing.option_medium.label"
        },
        {
          "value": "lg",
          "label": "t:sections.all.spacing.option_large.label"
        }
      ],
      "default": "md"
    }
  ],
  "blocks": [{ "type": "heading" }, { "type": "text-light" }],
  "presets": [
    {
      "name": "t:sections.featured_testimonials.name"
    }
  ]
}
{% endschema %}
