{%- liquid
  assign template_name = 'section-password'
  assign form_aria_label = 'template.password.form_password_label' | t

  render 'file-css', _name: 'section-password.css'
-%}

<div class="{{- template_name -}}" role="banner" data-section-type="{{- template_name -}}" data-section-id="{{ section.id }}">
  <div class="container">
    <div class="wrapper">
      <header class="header">
        {{- 'logo-wordmark-primary.svg' | inline_asset_content -}}
      </header>
      <div class="content">
        {% content_for 'blocks' %}
        {%- form 'storefront_password', class: 'c-form', id: 'password-form', aria-label: form_aria_label -%}
          {{- form.errors | default_errors | replace: 'class="errors"', 'class="c-alert c-alert--error" role="alert"' -}}
          <div class="form-field">
            <label class="form-label" for="password">{{ 'template.password.form_password_label' | t }}</label>
            <input
              type="password"
              name="password"
              id="password"
              {% if form.errors %}
                aria-invalid="true"
                aria-describedby="PasswordLoginForm-password-error"
              {%- endif -%}
              autocomplete="current-password"
              class="form-input {% if show_errors == true and form.errors contains 'password' %} form-input--error{% endif %}"
              placeholder="{{ 'template.password.form_password_placeholder' | t }}"
            >
          </div>
          <button class="c-btn main tuna" type="submit">
            {{- 'template.password.form_submit' | t -}}
          </button>
        {%- endform -%}
        <p><small>{{ 'template.password.admin_link_html' | t: text: 'Are you the store owner?', link_url: '/admin', link_text: 'Log in here' }}</small></p>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Password",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Settings"
    }
  ],
  "blocks": [
    {
      "type": "group-content",
    }
  ],
  "presets": [
    {
      "name": "Password",
      "category": "Content"
    }
  ]
}
{% endschema %}
