{%- liquid
  assign template_name = 'section-statistics'

  assign margin_bottom = section.settings.margin_bottom
%}

{%- render 'file-css', _name: 'section-statistics.css' -%}
{%- style -%}
  .section-{{ section.id }} .{{- template_name -}} {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    padding-left: {{ section.settings.padding_left | times: 0.75 | round: 0 }}px;
    padding-right: {{ section.settings.padding_right | times: 0.75 | round: 0 }}px;
    border-radius:{{ section.settings.border_radius }}px;
   
  }

 
  @media screen and (min-width: 750px) {
    .section-{{ section.id }} .{{- template_name }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
     
    }
     .section-{{ section.id }}  {
       background:{{ section.settings.bg_color }};
    {% if section.settings.background_image %}
      background-image: url('{{ section.settings.background_image | img_url: 'master' }}');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    {% endif %}
  }


    .{{ section.settings.custom_class }} .block-statistic {
      padding-left: 0;
    }

    .group-progress-statistics {
      display: flex;
      flex-direction: column !important;
    }
  }
  @media (min-width: 768px) and (max-width: 1023.98px) {
    .{{ section.settings.custom_class }} .section-statistics .block-group-content {
      max-width: 100%;
      margin-inline: auto;
    }
  }
  @media (max-width:749px ) {
    .{{- template_name }} {
      padding: 2rem 1.25rem;
    }
    .section-{{ section.id }} {
      background:{{ section.settings.mobile_bg_color }};
    }

    .section-{{ section.id }}  {
      {% if section.settings.mobile_background_image %}
        background-image: url('{{ section.settings.mobile_background_image | img_url: 'master' }}');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      {% endif %}
    }

    .{{ section.settings.custom_class }} .group-statistics-grid .block-statistic {
      padding: 0;
    }
    .group-progress-statistics {
      display: flex;
      flex-direction: row;
      gap: 16px;
    }

  }
{%- endstyle -%}
<div class=" u-space-below-{{- margin_bottom }}{%  if section.settings.image_position == true %} block-images-absolute {% endif %} {{ section.settings.custom_class }} section-{{ section.id }}"  data-section-id="{{ section.id }}">
  <div class="{% if section.settings.full_width  == false %}container {% endif %} relative">
    <div class="{{- template_name }}  {% if section.settings.horizontal_layout == true %}horizontal-layout{% endif %}" data-section-type="{{- template_name -}}">
    {% content_for 'block', type: 'group-content', id:'static-group-content' %}
    
    {% capture progress_block %}
    {% content_for 'block', type: 'group-progress', id: 'static-group-progress' %}
  {% endcapture %}

  {% capture statistics_block %}
    {% content_for 'block', type: 'group-statistics', id: 'static-group-statistics' %}
  {% endcapture %}

  {% assign has_group_progress = progress_block | strip | size %}
  {% assign has_group_statistics = statistics_block | strip | size %}

  {% if has_group_progress > 0 or has_group_statistics > 0 %}
    <div class="group-progress-statistics">
      {{ progress_block }}
      {{ statistics_block }}
    </div>
  {% endif %}

{% content_for 'blocks' %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.statistics.name",
  "tag": "section",
  "class": "overflow-hidden",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.header_settings.content"
    },
    {
      "type": "checkbox",
      "id": "horizontal_layout",
      "label": "Horizontal layout",
      "default": false
    },
    {
      "type": "select",
      "id": "margin_bottom",
      "label": "t:sections.all.spacing.margin_bottom.label",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.spacing.option_none.label"
        },
        {
          "value": "sm",
          "label": "t:sections.all.spacing.option_small.label"
        },
        {
          "value": "md",
          "label": "t:sections.all.spacing.option_medium.label"
        },
        {
          "value": "lg",
          "label": "t:sections.all.spacing.option_large.label"
        }
      ],
      "default": "md"
    },
    {
      "type": "color_background",
      "id": "bg_color",
      "label": "Background color",
      "default": "transparent"
    }, 
    {
      "type": "color_background",
      "id": "mobile_bg_color",
      "label": "Mobile background color",
      "default": "transparent"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    }, 
    {
      "type": "image_picker",
      "id": "mobile_background_image",
      "label": "Mobile background image"
    },  
    {
        "type": "checkbox",
        "id": "image_position",
        "label": "Image position absolute",
        "default": true
    },
    {
      "type": "range",
      "id": "border_radius",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Border radius",
      "default": 0
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "Custom Class",
      "info": "Add a custom class (e.g., 'text-center my-style') for further styling or scripting."
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": false,
      "label": "Full width"
    },
    {
      "type": "header",
      "content": "Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_left",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Left",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_right",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Right",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "group-content",
    },
    {
      "type": "group-statistics",
    },
    {
      "type": "group-statistics-bar",
    },
    {
      "type": "group-progress",
    }
  ],
  "presets": [
    {
      "name": "t:sections.statistics.name"
    }
  ]
}
{% endschema %}